* {
  color: white;
  font-family: sans-serif;
}

.header-left {
  background-color: #000000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left>div span {
  margin: 10px;
  font-size: 1.5rem;
}

.header-left>div span:hover {
  color: #E2B616;
  cursor: pointer;
}

.logo-text {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

